/* $Id: custom.css,v 1.0 2011/04/28 Custom CSS $ */

/*================================================================
					General Site Styles
================================================================*/
#header-wrapper{
  max-height: 8px;
  background-color: #6e9ec4;
}

/*================================================================
					App Content Styles
================================================================*/
#sidebar-first {
}

/* ------- Slideshow ---------- */
/*Block for app slideshows.  Shows on app main and sub pages. */
#views_slideshow_cycle_main_app_slideshow-block_1 {
  background-image:url('images/custom/phone_shell.png');
  background-repeat:no-repeat;
  background-position:top;
  padding-top:57px;
  padding-left:54px;
  min-height: 580px;
  min-width: 300px;
  margin-left: -20px;
}

/* Pager
Each page of the slideshow renders a text number below the phone.
This text number is shifted off screen and in its place goes the 
scroll bullet icon.  This allows us to reuse the image instead of
attaching a new one for eveyr single screenshot. 
http://stackoverflow.com/questions/471510/hide-text-using-css
*/
.views-content-field-screenshot-order {
    text-indent: -9999px;                 
    background-image:url('../../sites/default/files/screenshots/scrollbullet.png');  
    height:15px;                       
    width:15px;
}

/* -------- QR COde ------------ */
#block-views-qrcode-block {
  text-align: center;
}

.field-name-field-watermark {
  text-align: right;
}